.cards {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.card {
  display: block;
  max-width: 262px;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.cardContent h4 {
  font-family: PoppinsMedium;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin-top: 24px;
  color: #161616;
}

.cardContent p {

  font-family: PoppinsRegular;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-top: 8px;
  color: #666;
}