header {
  background-color: #161616;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1080;
}

.headerContainer {
  display: block;
  height: 72px;
  max-height: 72px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1151px;
  margin: 0 auto;
  min-height: 72px;
}

.navigation {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  width: 100%;
  margin-left: 48px;
  margin-right: 16px;
}

.navItem {
  display: block;
  margin: 10px 16px;
  list-style: none;
}

.navItem a {
  font-family: PoppinsRegular;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
  color: #999;
  transition: color 200ms linear;
}

.navItem:hover a {
  color: #FFF;
  transition: color 200ms linear;
}

.navItem:last-child {
  margin-left: auto;
}

.borderedButton {
  border: 1px solid #FBAA29;
  border-radius: 24px;
  padding: 10px 20px;
  background-color: transparent;
}

.borderedButton span {
  font-family: PoppinsRegular;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #F9EEDC;
}

.borderedButton:hover {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .headerContainer nav {
    padding-left: 24px;
    padding-right: 24px;
  }

  .burgerMenu {
    background-color: transparent;
    border: none;
    color: white;
  }
}